<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-5 text-center">Velkommen</h2>
        <p class="lead text-center">Du er nå logget inn.</p>
        <a href="{{ url_for('forum') }}" class="btn btn-success mb-4">Forum</a>
    </div>
</body>
</html>